/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: #FFFFC2;
  color: black;
  font-family: arial;
}

#pages {
   background-image: url("./background/bg-trees2.gif");
   background-attachment: fixed;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* 清除默认的 body 外边距 */
} 


  
